dt { font-size: .8rem; padding-top: .25rem; padding-bottom: .25rem; }
dd { padding-top: .25rem; padding-bottom: .25rem; margin-bottom: 0; }

.status-select {
  min-width: 140px;
  font-size: 0.75rem;
  padding: 0.2rem 0.5rem;
}
